{% extends 'base.html' %}

{% block title %}Code1018{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <script> alert('{{ message }}'); </script>
    {% endfor %}
</ul>
{% endif %}

<h1>Title: {{ tool.tool_title }}</h1>

<p><strong>Writer:</strong> <a href="{% url 'userpage' tool.writer %}">{{tool.writer}}</a></a></p>
<p><strong>Write_Date:</strong> {{ tool.tool_date }}</p>

<div style="margin-left:20px;margin-top:20px">
  <h4>Contents</h4>
  {{ tool.tool_contents | linebreaksbr}}
  <hr>
  {% if tool.tool_file.url %}
    <a href="{% url 'tool_download' tool.pk %}" download>{{ tool.tool_file.name }}</a>
  {% else %}
    <p> No File </p>
  {% endif %}
</div>
</br></br>

<p><a href="{% url 'tool_update' tool.pk %}" onclick="return confirm('Really Modify?')">Modify</a>&nbsp;&nbsp;<a href="{% url 'tool-delete' tool.pk %}" onclick="return confirm('Really? Delete?')">Delete</a></p>

<hr>
  <form action="{% url 'tool_comment_write' tool_pk=tool.pk %}" method="post">
    {% csrf_token %}
    <input type="text" name="content" placeholder="Write your comments">
    <input type="submit" value="Write" />
  </form>
<hr>
{% for comment in tool.comments.all %}
    <div class="comment">
        <div class="date">{{ comment.comment_date }} <a href="{% url 'comment_delete' tool.pk comment.pk %}">Remove</a></div>
        <strong><a href="{% url 'userpage' comment.comment_writer %}">{{ comment.comment_writer }}</a></strong>
        <p>{{ comment.comment_contents }}</p>
    </div>
{% empty %}
    <p>No comments here yet</p>
{% endfor %}
{% endblock %}
