{% extends 'base.html' %}

{% block title %}Code1018{% endblock %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <script> alert('{{ message }}'); </script>
    {% endfor %}
</ul>
{% endif %}

<table class="table">
  <thead>
    <tr>
      <th>No.</th>
      <th>Title</th>
      <th>Writer</th>
      <th>Date</th>
      <th>Hits</th>
    </tr>
  </thead>
  <tbody>
    {% if post_list %}
      {% for post in post_list %}
    <tr>
    <td>{{ post.id }}</td>
    <td><a href="{{ post.get_abolute_url }}">{{ post.post_title }} </a>   ( {{post.comments.count}} )</td>
    <td>{{ post.writer}}</td>
    <td>{{ post.post_date }}</td>
    <td>{{ post.post_hit }}</td>
  </tr>
    {% endfor %}
    {% else %}
      <p>There are no posts in the board.</p>
    {% endif %}
</tbody>
</table>
  <p><a href="{% url 'post_write' %}">Write</a></p>
{% endblock %}
