{% extends 'base.html' %}
{% load staticfiles %}

<!-- <head><script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script></head>-->
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <script> alert('{{ message }}'); </script>
    {% endfor %}
</ul>
{% endif %}
    <h1>New post</h1>
    <form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}
