<!-- templates/mypage.html -->
{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
  <h2>User Page</h2>

    <p>ID : {{ id }}</p>
    <p><img src="{{ profile_pic }}" width="200" height="300" /></p>
  </br>
    <p>Name : {% if first_name %} {{ first_name }}, {{ last_name }} {%else%} Fill your names {% endif %} </p>
    <p>NickName : {% if nick %}{{ nick }}{% else %}Fill your NickName{% endif %} </p>
    <p>Level : {{ level }} </p>
    <p>Birth Date : {{ birth_date }} </p>
  </br>
    <p>Introduce : {{ intro }}</p>

{% endblock %}
